<h1>Listing item_comments</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @item_comments.each do |item_comment| %>
  <tr>
    <td><%= link_to 'Show', item_comment %></td>
    <td><%= link_to 'Edit', edit_item_comment_path(item_comment) %></td>
    <td><%= link_to 'Destroy', item_comment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Item comment', new_item_comment_path %>
