<% content_for(:top_nav_links) do -%>
  <li><a class='light-blue-color' href="/home/parents/#how_it_works_video">HOW THE APP WORKS</a>&nbsp;&nbsp;</li>
<% end # top_nav_links -%>


<div class="fundraiser_main">
  <section class="banner_section">
    <div class="container">
      <h2>Hassle-Free Fundraising</h2>
      <p>Raising money for your school <span> is as easy as using the KidsTrade app.</span></p>
      <ul>

        <li>
          <div class="mobile_img">
            <img src="/assets/landing-25/mobile_img1.png" alt="mobile_img"/>
          </div>
          <div class="mobile_content">
            <div class="table_cell">
              <h3>POST</h3>
              <P>Kids post items they no longer want.</P>
            </div>
          </div>
        </li>
        <li>
          <div class="mobile_img">
            <img src="/assets/landing-25/mobile_img2.png" alt="mobile_img"/>
          </div>
          <div class="mobile_content">
            <div class="table_cell">
              <h3>TRADE</h3>
              <P>Kids connect with friends from school.</P>
            </div>
          </div>
        </li>
        <li>
          <div class="mobile_img">
            <img src="/assets/landing-25/mobile_img3.png" alt="mobile_img"/>
          </div>
          <div class="mobile_content">
            <div class="table_cell">
              <h3>EARN</h3>
              <P>Every trade earns your school money.</P>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </section>
  <div class="trading_sec">
    <ul>
      <li>
        <p>WHAT’S TRADING?</p>
      </li>
      <li>
        <p>Sports Gear</p>
      </li>
      <li>
        <p>Toys</p>
      </li>
      <li>
        <p>Crafts</p>
      </li>

      <li>
        <p>Books</p>
      </li>
      <li>
        <p>Video Games</p>
      </li>
      <li>
        <p>Clothes...</p>
      </li>
      <li>
        <p>AND MORE!</p>
      </li>
    </ul>
  </div>
  <section class="no_kidding">
    <div class="container">
      <div class="row">
        <h3>No committees or door-to-door sales. <span> No set-up or clean-up.</span> <span class="kiding">No Kidding!</span></h3>
        <div class="col-lg-10 col-lg-offset-2 col-md-10 col-md-offset-2 col-sm-10 col-sm-offset-2 col-xs-12 col-xs-offset-0">
          <ul>
            <li>
              <div class="steps_img">
                <img src="/assets/landing-25/steps_img1.png" alt="steps_icon"/>
              </div>
              <div class="steps_text">
                <h3>PICK A DATE</h3>
                <p>Fundraisers last one month.</p>
              </div>
            </li>
            <li>
              <div class="steps_img">
                <img src="/assets/landing-25/steps_img2.png" alt="steps_icon"/>
              </div>
              <div class="steps_text">
                <h3>SPREAD THE WORD</h3>
                <p>We’ll help with flyers and emails.</p>
              </div>
            </li>
            <li>
              <div class="steps_img">
                <img src="/assets/landing-25/steps_img3.png" alt="steps_icon"/>
              </div>
              <div class="steps_text">
                <h3>REGISTER</h3>
                <p>Its’ free to download!  Just register under your school.</p>
              </div>
            </li>
            <li>
              <div class="steps_img">
                <img src="/assets/landing-25/steps_img4.png" alt="steps_icon"/>
              </div>
              <div class="steps_text">
                <h3>TRADE & EARN</h3>
                <p>Every trade earns a donation to your school!</p>
              </div>
            </li>
          </ul>
        </div>
        <div class="info_pkg_sec">
          <div class="info_pkg">
            <h3>DOWNLOAD THE INFO PACKET</h3>
            <p>Give teachers and parents a quick overview. Downlaod our informational packet and share it at your next PTA/PTO meeting.</p>
          </div>
          <div class="info_pkg_btn">
            <a href="/Kidstrade-Info-Packet.zip"><img src="/assets/landing-25/download_btn.png" alt="download_icon"/></a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="contact_form">
    <div class="container">
      <div class="row">
        <%= render partial: 'fund_raisers/form' %>
      </div>
    </div>
  </section>
</div>
