<% # Local variables as options:
   #   :hide_company_header <Boolean> default false; whether to hide company's name at very top
   hide_company_header = false if not defined?(hide_company_header)
-%>
<% if !hide_company_header -%>
<h1>Cubby Shop LLC</h1>
<% end -%>
<h2>Privacy Policy</h2>

<p>This Privacy Policy (this <strong>&ldquo;Agreement&rdquo;</strong>) is between you, who must be a parent or
  legal guardian over the age of 18 (&ldquo;you&rdquo;), and Cubby Shop LLC, a Delaware limited liability company,
  d/b/a Kids Trade (&ldquo;<strong>Cubby Shop</strong>&rdquo;, &ldquo;<strong>we</strong>&rdquo;,
  or &ldquo;<strong>us</strong>&rdquo;).</p>

<p>Your understanding and acceptance of this Agreement is a condition required for your and your children’s use of
  the Cubby Shop site (the &ldquo;<strong>Site</strong>&rdquo;). For the purposes of this Agreement, &ldquo;child&rdquo;
  and &ldquo;children&rdquo; refer to any and all of your children or legal wards who are minors.</p>

<p>Cubby Shop provides an online marketplace for children (the &ldquo;<strong>Service</strong>&rdquo;). Privacy
  and security are top priorities in the design and operation of the Cubby Shop Site. This Agreement will inform
  you of our treatment of yours and your children’s information, and assign liability regarding the use and
  disclosure of such information.</p>

<p>Additional definitions applicable to this Agreement are at the end of this Agreement.</p>

<h3>General Authorization: Collection And Disclosure of Information Provided By Minors</h3>

<p>You authorize Cubby Shop to solicit, collect, and disclose, in the manners outlined herein, certain types of
  information from you and your children.</p>

<p>You authorize Cubby Shop to collect, store, and, when duly authorized, disclose to other Users any information
  that your child may provide to Cubby Shop. This information may include information about your child’s identity,
  location, opinions, or other information that you normally consider private.</p>

<p>Cubby Shop will make reasonable efforts to seek your authorization (see &ldquo;<strong>Parental
  Monitoring</strong>&rdquo; below) for the posting or transmission of information provided by your child, and it
  will allow you to monitor and curtail your child’s use of the Site and Services and to control the Site’s
  messaging feature (see &ldquo;<strong>Messaging</strong>&rdquo; below). Cubby Shop has a security policy
  covering Users’ Profiles and Accounts (see &ldquo;<strong>Use and Disclosure of Information</strong>&rdquo;
  below).</p>

<p>You are ultimately responsible for the Content that your child posts to the Site or sends to other Users. Cubby
  Shop provides a parental monitoring mechanism with reasonable security protocols, but we are not responsible for
  unauthorized use of your password or user information by your child or anyone else. We rely on the
  authorizations provided through your Account to comply with all applicable law. We are relying on your
  representation that you, the adult parent or legal guardian of the child, has control over the Account. It is
  your responsibility to maintain the security of your password and user information.</p>

<h3>Parental Settings – &ldquo;<strong>Boundaries</strong>&rdquo;</h3>

<p>The settings which govern preferences for your child’s access and use of the Site (also referred to
  as &ldquo;<strong>Boundaries</strong>&rdquo;) are located on the <strong>Parent Dashboard</strong>.</p>

<p>Cubby Shop has set the initial default Boundaries to infer your consent and permit certain account activities
  and Transactions to take place if the parent fails to object within 24 hours after notice.
  <span class="underlined">Please be aware that your inaction when notified of Listings and Trades will constitute your approval</span>,
  provided that your approval shall not be deemed given without your express consent where Cubby Shop collects,
  uses, or discloses your child’s private information.</p>

<p>You agree to provide Cubby Shop with sufficient information about you to allow Cubby Shop to maintain the
  security of the Site; and you agree to participate in the setting and maintenance of the Boundaries, which have
  been constructed to protect your and your child’s privacy, and to maintain the integrity of the Site. The
  pre-set Boundaries include, but are not limited to:</p>
<ul>
  <li>Parental approval required to access the operable areas of the Site.</li>
  <li>Parental approval required before a Profile may be created or posted by a child.</li>
  <li>Parental approval required before another User may be included in your child’s Circle, or before your child
    may be included in another User’s Circle.
  </li>
  <li>Parental approval required before a Purchase may be made.</li>
  <li>Parental approval required before your child may send a message to, or receive a message from, an individual
    outside your child’s Circle.
  </li>
</ul>

<p>You may choose to add various additional checkpoints by modifying the default Boundaries established on the
  Boundaries Page within the Parent Dashboard. Checkpoints may include various other required approvals.</p>

<p>In addition, Cubby Shop may periodically send the following notices to the email address you provide to us. You
  can choose not to receive these emails by adjusting the settings on the Parent Dashboard.</p>
<ul>
  <li>A link to the &ldquo;Account Activities&rdquo; page, from where you can view all of your child’s account
    activity.
  </li>
  <li>Notifications of updates to the service, the Terms or our Privacy Policy, or other aspects of Cubby Shop
    will periodically be sent to the email address you provide to us. You agree to review these updates on a
    regular basis and to curtail or cease your child’s activity on the Site in your sole discretion.
  </li>
</ul>

<h3>Collection of Information.</h3>

 <p>You or your child may be prompted to provide some or all of the following types of information in order to
  register, set up Accounts and Profiles, access accounts or features, send Messages to other Users, submit
  Listings, join Circles, make and settle Transactions, directly contact us with questions or feedback, or access
  other features of the Service:</p>
<ul>
  <li>Parent contact information, such as name, e-mail address and mailing address.</li>
  <li>Usernames, passwords, and security questions for parents and children.</li>
  <li>Profile information, including User Name(s), the school, age, and grade of your child, and other pertinent
    information.
  </li>
  <li>Listing information, including product information, possible Transactions and other pertinent information.
  </li>
  <li>Picture avatars.</li>
  <li>Communications preferences.</li>
  <li>Correspondence you or your child sends to us or to another User.</li>
  <li>Credit card information.</li>
</ul>

<p>Your Parent Dashboard enables you to look at the entirety of your child’s Site activities.</p>

<h3>Use and Disclosure of Information</h3>

<p class="underlined">In General.</p>

<p>We generally use the information that we collect about you or your child to:</p>
<ul>
  <li>Fulfill your or your child's requests for Service;</li>
  <li>Send you or your child Messages about Transactions that may be of interest to you or your child (see &ldquo;<strong>Messaging</strong>&rdquo;
    below).
  </li>
  <li>Analyze use of the Service to understand and improve our service offerings, such as determining which
    features are most popular, which browsers are most used, how much time users spend using the Service;
  </li>
  <li>Prevent potentially prohibited or illegal activities and enforce the <a href="/terms">Terms of Service</a>.
  </li>
</ul>

<p>We may aggregate your or your child's information with information about other Users so that it no longer
  identifies and cannot reasonably be used to identify an individual person.</p>

<p class="underlined">Use And Disclosure In Detail</p>

<p>Subject to any changes in the default settings that you may set in the Boundaries settings on your Parent
  Dashboard, you hereby agree to the following disclosures of your child’s information.</p>

<p>To all Users:</p>
<ul>
  <li>Your child’s User Name and general geographical information—no narrower than your child’s town and state.
  </li>
  <li>Your child’s Transaction Listings.</li>
</ul>

<p>To your child’s Circle, in addition to the information above:</p>
<ul>
  <li>Your child’s school and class.</li>
  <li>Your child’s Profile.</li>
</ul>

<p>To your child’s Counterparties.</p>
<ul>
  <li>Any information your child may choose to exchange.</li>
</ul>

<p>Your child’s participation in the Site shall not be conditioned upon the provision of information in excess of
  the information necessary for your child’s participation.</p>

<p class="underlined">Consent For Use or Disclosure Not Required</p>

<p>Instances in which the disclosure or use of your child’s information does not require your consent include:</p>
<ul>
  <li>Online contact information collected from a child that is used by Cubby Shop only to respond directly on a
    one-time basis to a specific request from the child and is not used to re-contact the child and is not
    maintained in retrievable form by us;
  </li>

  <li>A request for the name or online contact information of a parent or child that is used for the sole purpose
    of obtaining parental consent or providing notice, and where such information is not maintained in retrievable
    form by us if parental consent is not obtained after a reasonable time;
  </li>

  <li>Online contact information collected from a child that is used by Cubby Shop only to respond more than once
    directly to a specific request from the child and is not used to re-contact the child beyond the scope of that
    specific request;
  </li>

  <li>If, after the initial response to the child (but before any additional response), we use reasonable efforts
    to provide a parent notice of the online contact information collected from the child, the purposes for which
    it is to be used, and an opportunity for the parent to request that we make no further use of the information
    and that it not be maintained in retrievable form;
  </li>

  <li>For the purpose of preserving the security of the Site or the safety of a User, or resolving a dispute, so
    long as such information is not disclosed publicly on the Site;
  </li>

  <li>For the purpose of notifying you of your child’s use of the Site, and providing you an opportunity to limit
    or discontinue such use; or
  </li>

  <li>For the purpose of taking precautions against liability, responding to judicial process; or to provide
    information to law enforcement agencies or for an investigation on a matter related to public safety.
  </li>
</ul>

<h3>Messaging</h3>

<p>You hereby authorize Cubby Shop to collect, store, and analyze your child’s use of the Site and Services for
  the purpose of sending your child Messages about other Transactions available in your child’s Circle.</p>

<p>You hereby authorize Cubby Shop to collect, store, and transmit your child’s Messages, per your child’s
  instructions, to Users in your child’s Circle.</p>

<p>If your child attempts to send or receive a Message with respect to a User outside your child’s Circle, you
  shall receive a notice of the attempt and an opportunity to allow or deny the Message.</p>

<p>A Message sent to a User outside the sender’s Circle will allow the recipient of the Message and the
  recipient’s Parent to view the sender’s Profile.</p>

<p>You shall have the ability to review all of your child’s Account activity at any time through the Parent
  Dashboard.</p>

<h3>Advertising</h3>

<p>We will not actively use information provided by your child in third-party advertising, nor will we track such
  information for that purpose.</p>

<p>You hereby agree that Cubby Shop will not be held responsible for any incidental advertising that occurs on
  account of your child’s use of the Site, and you waive all claims against Cubby Shop regarding such incidental
  advertising.</p>

<h3>Use of Cookies and Other Technologies</h3>

<p>To make our Service functional, we use cookies. Cookies are small bits of information that are stored by a
  computer's web browser. We use these technologies, for example, to help us recognize your or your child's
  browser as a previous user and save and remember any preferences that may have been saved. If you choose to
  refuse, disable, or delete these technologies, some of the functionality of our site may no longer be available
  to you or your child.</p>

 <h3>Retention and Deletion of Information</h3>

 <p>We will not retain your child’s information on our servers for longer than it is necessary to fulfill the
  purpose for which it was provided. However, in general, due to the possibility of claims arising from Transactions
  and the use of the Site, we deem it necessary to retain all information provided by your child indefinitely unless
  we are given express and authorized instructions to delete such information.</p>

<h3>Compliance with Childrens’ Online Privacy Protection Act</h3>

<p>Notwithstanding any of the foregoing or anything else in any other agreement between you and Cubby Shop, we
  reserve the right to take such measures, and to make such revisions to this or any other agreement, as are
  required to comply with the Children’s Online Privacy Protection Act of 1998 (&ldquo;<strong>COPPA</strong>&rdquo;),
  15 U.S.C. §§ 6501-6506. Any revision to this or any other agreement between you and Cubby Shop made for the
  purpose of compliance with COPPA shall be effective when posted to the Site, without prior notice to you or
  authorization by you.</p>

<h3>Definitions</h3>

<p>&ldquo;<strong>Account</strong>&rdquo; is an account on the Site created and monitored by you for the benefit
  of your child.</p>

<p>&ldquo;<strong>Circle</strong>&rdquo; means those Users with whom your child has established a virtual
  connection through the Site, and thereby authorized to view your child’s Profile and other information.</p>

<p>&ldquo;<strong>Content</strong>&rdquo; means information, text, music, sound, photographs, pictures, graphics,
  video, messages, files, or other materials.</p>

<p>&ldquo;<strong>Counterparty</strong>&rdquo; means a User with whom another User corresponds on an individual
  basis regarding a Transaction, or any other matter.</p>

<p>&ldquo;<strong>Message</strong>&rdquo; means Content delivered to a User through the Site, from Cubby Shop or
  from another User, or Content sent by a User to Cubby Shop or another User.</p>

<p>&ldquo;<strong>Listing</strong>&rdquo; means any offer to consider or enter into a Transaction.</p>

<p>&ldquo;<strong>Parent</strong>&rdquo; means parent or legal guardian.</p>

<p>&ldquo;<strong>Profile</strong>&rdquo; means a page customized by a User and approved by that User’s parent or
  legal guardian, which page may include the User’s User Name, teacher, grade and school. Please see Child
  Dashboard.</p>

<p>&ldquo;<strong>Purchase</strong>&rdquo; means a monetary transaction under which one User purchases an item
  from another User through the Site and in accordance with all applicable Cubby Shop terms and agreements.</p>

<p>&ldquo;<strong>Service</strong>&rdquo; means the maintenance of an online marketplace.</p>

<p>&ldquo;<strong>Site</strong>&rdquo; means &ldquo;<strong>Cubbyshop.com</strong>&rdquo; and/or its affiliated
  websites, mobile apps, web apps and other means established by Cubby Shop for accessing the Service.</p>

<p>&ldquo;<strong>Trade</strong>&rdquo; means a transaction between two (or more) Users where items are exchanged
  through the Site and in accordance with all applicable Cubby Shop terms and agreements.</p>

<p>&ldquo;<strong>Transaction</strong>&rdquo; means a Purchase or Trade.</p>

<p>&ldquo;<strong>User</strong>&rdquo; means an individual who has access to the Site.</p>

<p>&ldquo;<strong>User Name</strong>&rdquo; means an alias created for use on the Site.</p>

<p>&ldquo;<strong>User’s Store</strong>&rdquo; consists of the User’s list of items offered for Trade.</p>
<p>
  &nbsp;
</p>