<div id="mc_embed_signup" class="contact-form">
  <div class="container">
    <div class="row" id="mc_embed_signup_scroll">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <a name="signup_form"></a>
        <h6>Android?  Join our list<span> and we’ll let you know when we launch.</span></h6>
        <form id="mc-embedded-subscribe-form" action="//kidstrade.us11.list-manage.com/subscribe/post?u=93d75cb59828736858330867b&id=a094bf7fe7" method="post">
          <div class="form-section">
            <input type="text" class="input" name="FNAME" placeholder="Your Name" id="mce-FNAME">
            <input type="email" class="input" name="EMAIL" placeholder="Your Email" id="mce-EMAIL">

            <input class="button" name="button" type="submit" value="Signup" id="mc-embedded-subscribe"/>
          </div>
          <div id="mce-responses" class="clear">
            <div class="response" id="mce-error-response" style="display:none"></div>
            <div class="response" id="mce-success-response" style="display:none"></div>
          </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
          <div style="position: absolute; left: -5000px;"><input type="text" name="b_93d75cb59828736858330867b_a094bf7fe7" tabindex="-1" value=""></div>
        </form>
      </div>
    </div><!--row-->
  </div><!--container-->
</div><!--contact-form-->