<% # Local variables as options:
   #   :hide_company_header <Boolean> default false; whether to hide company's name at very top
   hide_company_header = false if not defined?(hide_company_header)
-%>
<% if !hide_company_header -%>
<h1>Cubby Shop LLC</h1>
<% end -%>
<h2>General Terms and Conditions</h2>

<p>These General Terms and Conditions (this &ldquo;<strong>Agreement</strong>&rdquo;) are by and between you
  (&ldquo;<strong>you</strong>&rdquo;) and Cubby Shop LLC, a Delaware limited liability company d/b/a Kids Trade (&ldquo;<strong>Cubby
  Shop</strong>&rdquo;, &ldquo;<strong>we</strong>&rdquo;, or &ldquo;<strong>us</strong>&rdquo;).</p>

<p>Your understanding and acceptance of this Agreement is a condition required for your and your children’s
  (&ldquo;<strong>child</strong>&rdquo; and &ldquo;<strong>children</strong>&rdquo; refer to any and all of your
  children or legal wards who are minors) use of the Cubby Shop Site and Service, and is binding on you. This Agreement
  may be modified from time to time by us, and will be binding when posted on the Site. You will receive reasonable
  notice of any material changes to this Agreement. </p>

<p>This Agreement includes and integrates all other terms and conditions that Cubby Shop may post to the Site from time
  to time, including but not limited to the Cubby Shop Privacy Policy.</p>

<p>Additional definitions applicable to this Agreement are at the end of this Agreement.</p>

<h3>Registration</h3>

<p>A Cubby Shop account (&ldquo;<strong>Account</strong>&rdquo;) may only be created by a parent (which shall refer to a
  parent or legal guardian over the age of 18, which condition you hereby represent you fulfill). In order to verify
  that you are a parent, we will collect certain personal information from you (which may include credit card
  information) (the collection, use, and storage of which is governed by our Privacy Policy), and you hereby agree to
  present such personal information honestly. </p>

<h3>Password, User Information and Security</h3>

<p>You hereby agree to maintain the security of your password and all other information assigned to you for the purpose
  of verifying the integrity of the Site. You are responsible for maintaining the confidentiality of all passwords and
  unique identifiers, and are fully responsible for all activities that occur under your password or user name. You
  agree promptly to notify Cubby Shop of any unauthorized use of your password or account or any other breach of
  security. Cubby Shop cannot and will not be liable for any loss or damage arising from your failure to comply with
  this requirement. </p>

<h3>General Authorization: Collection And Disclosure of Information Provided By Minors</h3></p>
<p>By accepting this Agreement, you authorize Cubby Shop to collect, store, and transmit to other Users information that
  your child may provide to Cubby Shop from time to time, in accordance with the Cubby Shop Privacy Policy.</p>

<h3>Responsibility for Minors</h3>

<p>You recognize that you are fully responsible for: (i) the online conduct of your child; (ii) controlling your child’s
  access to and use of the Services; and (iii) the consequences of any misuse of the Services by your child.</p>

<p>Cubby Shop shall not be responsible for monitoring your child’s use of the Site, nor shall we be responsible for
  Listings on the Site that are, in your opinion, inappropriate for your child’s use. For example: a music album may
  contain explicit language. A video game may be graphic. A toy may contain dangerous or hazardous elements. Cubby Shop
  shall have no liability for damages on account of your child’s use of any of the items acquired through the Site. You
  are solely responsible for the goods that come into your child’s possession. </p>

<h3>Payment Processing and Fee Schedule</h3>

<p>In concert with your creation of a Profile, Cubby Shop may collect your credit card information and store it on file
  for use in authentication and for the purpose of processing payments to Cubby Shop for the Services, per the following
  schedule:</p>

<li>Membership fee: $0.00 for limited time until further notice</li>
</p>
<li>Purchase: 0% of Purchase Transaction value to be charged to Seller until further notice</li>

<h3>Parental Settings – &ldquo;Boundaries&rdquo;</h3>

<p>The settings which govern preferences for your child’s access and use of the Site (also referred to
  as &ldquo;<strong>Boundaries</strong>&rdquo;) are located on the parent’s dashboard page (the &ldquo;<strong>Parent
  Dashboard</strong>&rdquo;): &ldquo;LINK&rdquo;. </p>

<p>Cubby Shop has set the initial default Boundaries to infer your consent and permit certain account activities and
  Transactions to take place if the parent fails to object within 24 hours after notice.
  <span class="underlined">Please be aware, unless you modify the Boundary settings on your Parent Dashboard, your inaction for 24 hours after notified of Listings and Trades will constitute parental approval</span>;
  provided that your approval shall not be deemed given without your express consent where Cubby Shop collects, uses, or
  discloses your child’s private information. </p>

<p>You agree to provide Cubby Shop with sufficient information about you to allow Cubby Shop to maintain the security of
  the Site; and you agree to participate in the setting and maintenance of the Boundaries, which have been constructed
  to protect your and your child’s privacy, and to maintain the integrity of the Site. The pre-set Boundaries include,
  but are not limited to:</p>

<li> Parental approval required to access the operable areas of the Site.</li>
<li> Parental approval required before a Profile may be created by a child.</li>
<li> Parental approval required before another User may be included in your child’s Circle, or before your child may be
  included in another User’s Circle.
</li>
<li> Parental approval required before a Purchase may be made.</li>
<li> Parental approval required before your child may send a message to, or receive a message from, an individual
  outside your child’s Circle.
</li>

<p>You may choose to add various additional checkpoints by modifying the default Boundaries established on the
  Boundaries Page within the Parent Dashboard.</p>

<p>Notifications of updates to the service, the Terms or our Privacy Policy, or other aspects of Cubby Shop will
  periodically be sent to the email address you provide to us. You agree to review these updates on a regular basis and
  to curtail or cease your child’s activity on the Site in your sole discretion.</p>

<h3>Listings</h3>

<p>Cubby Shop actively monitors its Listings. If you have a complaint about a Listing, please notify us via the Report
  action or report@kidstrade.com.</p>

<p>Listings shall be subject to the following conditions. If Cubby Shop believes that there may be a violation of these
  conditions, we reserve the right to remove the Listing at issue or take other action, including but not limited to,
  terminating a Party’s membership to the Site.</p>

<li>Valid listings are those not materially inappropriate, in our sole discretion, for the group to which they are
  available.
</li>
<li> Listings shall not be obscene or vulgar. Listings shall not deal in firearms, drugs, any banned goods or
  substances, unreasonably dangerous objects, or goods otherwise not suitable for common use.
</li>
<li> Listings shall not contain any material misrepresentations about the quality or nature of the goods offered.</li>
<li> Listings shall not offer to trade or sell items which are not the property of the holder of the Account in
  question.
</li>
<li> Listings shall be genuine offers to trade or sell the items listed.</li>

<h3>Transactions</h3>
<li>You shall be solely responsible for your child’s Transactions. Cubby Shop shall have no liability for any failure of
  any Transaction, whether by the fault of you, your child, or any other party.
</li>
</p>

<li>Cubby Shop shall have no liability for the failure of any item to a Transaction failing to match its description.
</li>
</p>
<li>Parties shall have no right to resort to self-help to induce performance of a Transaction.</li>
</p>
<li>Cubby Shop plays no role in transferring legal ownership of any item from one Party to another.</li>
</p>
<li><strong>Trades:</strong> Trading through the Site is subject to the following additional conditions:
  <ul>
    <li>Offers to perform Trades are not deemed accepted until the Trade is fully performed. This means that there is no
      obligation to complete the Trade until the items in question are physically exchanged. No Party shall have any
      legal right to enforce any agreement to Trade unless and until the items are physically exchanged.
    </li>
    <li>There is no requirement that a Trade consist of an exchange of equal value.</li>
  </ul>
</li>
<li><strong>Purchases:</strong> Purchase Transactions through the Site are subject to the following additional
  conditions:
  <ul>
    <li>When you approve your child’s participation in a Purchase transaction, you agree to enter into a legally binding
      contract, which you are obligated to perform unless you have a legally valid excuse, such as the non-performance
      of the other Party or a material misrepresentation by the other Party.
    </li>
  </ul>
</li>

<h3>All Transactions Final; Remedies</h3>

<li>Cubby Shop does not process returns.</li>
<ul>
  <li>As Trades executed through the Site are in-kind, not in exchange for currency, a Trade is final when executed.
  </li>
  <li>Cubby Shop has no return mechanism for Purchase transactions. All Purchases are final and binding.</li>
</ul>
</li>
<p>
<li> Cubby Shop fields complaints regarding misrepresentations in listings on the Site. If a party to a Trade has made a
  material misrepresentation that goes to an essential matter in a Trade (for example, where a party has shown a picture
  of a doll in one piece, and delivers the doll without a head), the party making the misrepresentation may be subject
  to repurcussions, including but not limited to having his or her Account terminated.
</li>
</p>

<p>

<h3>Authorization to Contact You For Administrative Matters</h3></p>

<p>You hereby authorize us to contact you, at the email address(es) and telephone number(s) you provide, regarding the
  following issues: </p>

<p>
<li> Any reason relating to your Account or your use of the Services.</li>
</p>

<p>
<li> Lack of current payment information.</li>
</p>

<p>
<li> For any reason that you have consented to or might consent to in the future, including marketing purposes.</li>
</p>

<p>
<li> For the purpose of enforcing our rights under this Agreement and any other agreement we may have with you, now or
  in the future.
</li>
</p>

<p>We will not share your contact information with any third party, except for the purpose of debt collection regarding
  any fees owed to us under this or any other agreement between you and Cubby Shop, and if such disclosure is required
  by law. </p>

<p>

<h3>User Conduct</h3></p>

<p>
  You acknowledge and agree that all Content, whether posted or transmitted, is the sole responsibility of the person or
  owner of the Profile from which such Content originated. This means that you, and not Cubby Shop, are entirely
  responsible for all Content that you or your children upload, post, e-mail or otherwise transmit via the Service. </p>

<p>
  The Service may only be used for the intended purpose for which this Service is being made available. The intended
  purpose of Service is to provide an online marketplace for children. </p>

<p>
  You agree not to:</p>

<p>
<li> Post, message, otherwise transmit, or post links to any Content, or select any User Name that is unlawful, harmful,
  threatening, abusive, harassing, tortuous, defamatory, vulgar, obscene, pornographic, libelous, invasive of privacy or
  publicity rights, hateful, or racially, sexually, ethnically or otherwise objectionable.
</li>
</p>

<p>
<li> Post, message, otherwise transmit, or post links to any Content that promotes illegal activity, including without
  limitation the provision of instructions for illegal activity.
</li>
</p>

<p>
<li> Harm minors in any way.</li>
</p>

<p>
<li> Make any sexual request on behalf of a minor or make any sexual request of a minor.</li>
</p>

<p>
<li> "Stalk" or otherwise harass another individual.</li>
</p>

<p>
<li> Collect or store personally identifying information about other users for commercial or unlawful purposes.</li>
</p>

<p>
<li> Impersonate any person or entity, including, but not limited to, a Cubby Shop official, employee, guide or host, or
  falsely state or otherwise misrepresent your affiliation with a person or entity.
</li>
</p>

<p>
<li> Employ misleading User Names or Profiles or falsify information in any part of any communication, including
  messages, transmitted through the Service.
</li>
</p>

<p>
<li> Post, message, otherwise transmit, or post links to any Content that you do not have a right to transmit under any
  law or regulation.
</li>
</p>

<p>
<li> Post, message, or otherwise transmit, or post links to any Content that facilitates hacking.</li>
</p>

<p>
<li> Post, message, otherwise transmit, or post links to any unsolicited or unauthorized advertising, promotional
  materials, "junk mail," "spam," "chain letters," "pyramid schemes," or any other form of solicitation, except in those
  areas that are designated for such purpose.
</li>
</p>

<p>
<li> Upload, post, message, otherwise transmit, or post links to any material that contains software viruses, worms,
  Trojan horses, time bombs, trap doors or any other computer code, files or programs or repetitive requests for
  information designed to interrupt, destroy or limit the functionality of any computer software or hardware or
  telecommunications equipment or to diminish the quality of, interfere with the performance of, or impair the
  functionality of the Service.
</li>
</p>

<p>
<li> Do anything contrary to United States of America Law, or local law, or International Law.</li>
</p>

<p>

<h3>Termination</h3>

</p>

<p>Your Account may be terminated, and any remaining balance forfeited if we believe misuse or abuse of the Site or
  Service has occurred, or any of the terms of use of the Site, including this Agreement, have been violated.
  Notwithstanding such termination, we reserve the right to take legal action against you for any contravention of this
  or any other agreement between you and Cubby Shop. </p>

<p>

<h3>Trademarks</h3></p>

<p>
  Use of any trademark, service mark, or name of Cubby Shop for commercial purposes is forbidden without written
  consent. </p>

<p>

<h3>Disclaimer of Warranties; Limitation of Liability</h3></p>

<p>We work hard to keep our Site and Services functioning properly, but we cannot guarantee the availability or
  sufficiency of our Site or Services. The Services may be subject to interruptions, errors, or delays outside of our
  control. </p>

<p>You hereby agree that you are making use of the Site and Services at your own risk, and that they are being provided
  to you on an &ldquo;AS-IS&rdquo; and &ldquo;AS AVAILABLE&rdquo;basis. To the extent permitted by applicable law, we
  hereby disclaim all express or implied warranties, including implied warranties of merchantability, fitness for a
  particular purpose, and non-infringement. </p>

<p>We make no representation or warranty that the Site or Services will be suitable for use by your child. </p>

<p>In addition, neither we nor our affiliates, officers, directors, agents, employees, or assigns shall be liable
  for: </p>

<p>
<li> your or your child’s use or inability to use the Site or Services;</li>
</p>

<p>
<li> the value of any Transaction;</li>
</p>

<p>
<li> delays or disruptions in the Site or Services;</li>
</p>

<p>
<li> viruses or any malicious software obtained by the use of the Site or Services;</li>
</p>

<p>
<li> glitches, bugs, or inaccuracies of any kind in the Site or Services;</li>
</p>

<p>
<li> damage to your hardware arising from your use of the Site or Services;</li>
</p>

<p>
<li> the content, listings, actions or inactions of any User or third party;</li>
</p>

<p>
<li> damages resulting from a suspension of your Account due to breach of this or any agreement with us; or</li>
</p>

<p>
<li> your need to alter behavior or business practices as a result of alterations in this or any agreement with us.</li>
</p>

<p>Notwithstanding the foregoing, if we are found to be liable for damages to you under any theory of liability, our
  liability to you or any third party shall be limited to the greater of (1) your payments to us in the twelve (12)
  months preceding the filing of the claim at issue, or (2) $100. </p>

<p>

<h3>General Release</h3></p>

<p>If you have a dispute with one or more Users or third parties, you release us (and our affiliates, officers,
  directors, agents, employees, shareholders and assigns) from any and all claims, demand, or damages of every kind and
  nature, known and unknown, arising out of or in any way connected with such disputes. In entering into this release
  you expressly waive any protections, statutory or otherwise, that would otherwise limit the coverage of this release
  to include only those claims which you may know or suspect to exist in your favor at the time of agreeing to this
  release.</p>

<p>

<h3>General Limitation of Damages</h3>

</p>

<p>UNDER NO CIRCUMSTANCES, INCLUDING NEGLIGENCE, SHALL CUBBY SHOP (NOR OUR AFFILATES, OFFICERS, DIRECTORS, AGENTS,
  EMPLOYEES, SHAREHOLDERS OR ASSIGNS) BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, PUNITIVE OR CONSEQUENTIAL
  DAMAGES THAT MAY RESULT FROM THE USE OR INABILITY TO USE THE SITE, INCLUDING WITHOUT LIMITATION USE OF OR RELIANCE ON
  THE SITE, INTERRUPTIONS, ERRORS, DEFECTS, MISTAKES, OMISSIONS, DELETIONS OF FILES, DELAYS IN OPERATION OR
  TRANSMISSION, NONDELIVERY OF INFORMATION, DISCLOSURE OF COMMUNICATIONS, OR ANY OTHER FAILURE OF PERFORMANCE. </p>

<p>

<h3>Release and Indemnity</h3></p>

<p>
  YOU HEREBY RELEASE AND WAIVE ANY AND ALL CLAIMS AND/OR LIABILITY AGAINST CUBBY SHOP (AND OUR AFFILATES, OFFICERS,
  DIRECTORS, AGENTS, EMPLOYEES, SHAREHOLDERS AND ASSIGNS) ARISING FROM OR IN CONNECTION WITH YOUR OR YOUR CHILDREN’S USE
  OF CUBBY SHOP. YOU ALSO AGREE TO DEFEND, INDEMNIFY AND HOLD HARMLESS, CUBBY SHOP (AND OUR AFFILATES, OFFICERS,
  DIRECTORS, AGENTS, EMPLOYEES, SHAREHOLDERS AND ASSIGNS), FROM AND AGAINST, ANY AND ALL CLAIMS OR LIABILITY, INCLUDING
  COSTS AND ATTORNEYS FEES, ARISING FROM OR IN CONNECTION WITH YOUR OR YOUR CHILD’S USE OF THE SITE OR SERVICE OR
  FAILURE TO ABIDE BY APPLICABLE LAW.</p>

<p>

<h3>Legal Disputes </h3></p>

<p>PLEASE READ THIS SECTION CAREFULLY, AS IT AFFECTS YOUR RIGHTS AND WILL HAVE A SUBSTANTIAL IMPACT ON HOW CLAIMS
  BETWEEN YOU AND CUBBY SHOP WILL BE RESOLVED. </p>

<p>You and Cubby Shop agree that any claim arising from this Agreement, any other agreement between you and Cubby Shop,
  or your use of the Site or Services will be resolved in accordance with this Section. </p>

<p>Applicable Law: You agree that any claim or dispute arising between you and Cubby Shop shall be governed by the laws
  of the State of New Jersey, without reference to the conflict of laws principles of the State of New Jersey. </p>

<p>Agreement to Arbitrate: You and Cubby Shop agree that any claim or dispute arising between you and Cubby Shop
  regarding this Agreement, any other agreement between you and Cubby Shop, or your use of the Site or Services shall be
  resolved through final and binding arbitration in the State of New Jersey, rather than in court, provided that you may
  file a qualifying claim in small claims court, so long as such claim stays in small claims court and is advanced on an
  individual, non-class basis. The Federal Arbitration Act shall govern the interpretation and enforcement of this
  Agreement to Arbitrate. </p>

<p>Prohibition of Class and Representative Actions and Non-Individualized Relief</p>

<p>You and Cubby Shop agree that each of us may bring claims against the other only on an individual basis and not as a
  plaintiff or class member in any purported class or representative action or proceeding. Unless both you and Cubby
  Shop agree otherwise, the arbitrator may not consolidate or join more than one person’s or party’s claims, and may not
  otherwise preside over any form of a consolidated, representative, or class proceeding. Also, the arbitrator may award
  relief only in favor of the individual party seeking relief and only to the extent necessary to provide relief
  necessitated by such party’s individual claim. No relief awarded may affect other Users. </p>

<p>Arbitration Procedures</p>

<p>An arbitrator shall apply the terms of this Agreement and any other agreement between you and Cubby Shop as a court
  would. A court of competent jurisdiction shall decide the issue of arbitrability, if applicable. </p>

<p>The arbitration shall be conducted by the American Arbitration Association (&ldquo;<strong>AAA</strong>&rdquo;) under
  its rules and procedures, as modified by this Agreement, including AAA’s Supplementary Procedures for Consumer Related
  Disputes. </p>

<p>A party seeking arbitration must first send to the other, by certified mail, a completed Notice of Dispute. Notices
  of Dispute against Cubby Shop must be sent to: Cubby Shop LLC, 301 N. Harrison St., Suite 9F, #177, Princeton, NJ
  08540.</p>

<p>The forum of arbitration shall be Mercer County, New Jersey. </p>

<p>If a dispute cannot be resolved within 30 days after a notice is sent, either party may initiate arbitration
  proceedings. Arbitration forms may be found on the AAA’s website at: www.adr.org. The initiating party must send the
  initiation form certified mail to the other party. </p>

<p>The arbitrator shall decide the substance of all claims in accordance with the laws of the State of New Jersey,
  including recognized principles of equity, and will honor all claims of privilege recognized by law. The arbitrator
  shall not be bound by rulings in prior arbitrations involving different Users, but shall be bound by the principles of
  claim preclusion and issue preclusion. </p>

<p>Severability; Judicial Forum</p>

<p>In the event an arbitrator or court decides that any part of this Agreement to Arbitrate is invalid or unenforceable,
  the other parts of this Agreement to Arbitrate shall still apply. </p>

<p>In the event an arbitrator or court finds this Agreement to Arbitrate unenforceable such that your case will not be
  tried by an arbitrator, you agree that all claims brought against Cubby Shop shall be brought in the Federal District
  Court for the District of New Jersey, or if there be no subject matter jurisdiction in such forum, in the Superior
  Court of New Jersey, Mercer Vicinage; and you hereby submit to the personal jurisdiction of such court. </p>

<p>

<h3>General Provisions</h3></p>

<p>Cubby Shop is located at 301 N. Harrison St., Suite 9F, #177, Princeton, NJ 08540. </p>

<p>Except as otherwise provided in this Agreement, if any provision of this Agreement is held to be invalid, void or for
  any reason unenforceable, such provision shall be struck out and shall not affect the validity and enforceability of
  the remaining provisions. In our sole discretion, we may assign this Agreement, by providing notice of such
  assignment.</p>

<p>Headings are for reference purposes only and do not limit the scope or extent of such Section. Our failure to act
  with respect to a breach by you or others does not waive our right to act with respect to subsequent or similar
  breaches. We do not guarantee we will take action against all breaches of this User Agreement.</p>

<p>We may amend this Agreement at any time by posting the amended terms on www.Cubbyshop.com. Our right to amend this
  Agreement includes the right to modify, add to, or remove terms in the Agreement. We will provide you 30 days notice
  by posting the amended terms. Additionally, we will notify you through your Account. Your continued access or use of
  our Services constitutes your acceptance of the amended terms. We may also ask you to acknowledge your acceptance of
  the Agreement through an electronic click-through. This Agreement may not otherwise be amended except through mutual
  agreement by you and a Cubby Shop representative who intends to amend this Agreement and is duly authorized to agree
  to such an amendment.</p>

<p>The policies posted on our Sites may be changed from time to time. Changes take effect when we post them on the Cubby
  Shop Site.</p>

<p>No agency, partnership, joint venture, employee-employer or franchiser-franchisee relationship is intended or created
  by this User Agreement.</p>

<p>This Agreement, the Privacy Policy, and all polices set forth the entire understanding and agreement between you and
  Cubby Shop and supersede all prior understandings and agreements of the parties.</p>

<p>The following Sections survive any termination of this User Agreement: Fees, Content, Disclaimer of Warranties;
  Limitation of Liability; Indemnity, and Legal Disputes.</p>

<h3>Definitions</h3>

<p><strong>&ldquo;Account&rdquo; </strong>is an account on the Site created and monitored by you for the benefit of your
  child.</p>

<p><strong>&ldquo;Circle&rdquo;</strong> means those Users with whom your child has established a virtual connection
  through the Site, and thereby authorized to view your child’s Profile and other information. </p>

<p><strong>&ldquo;Content&rdquo;</strong> means information, text, music, sound, photographs, pictures, graphics, video,
  messages, files, or other materials.</p>

<p><strong>&ldquo;Counterparty&rdquo;</strong> means a User with whom another User corresponds regarding a Transaction,
  or any other matter. </p>

<p><strong>&ldquo;Listing&rdquo;</strong> means any offer to consider or enter into a Transaction. </p>

<p><strong>&ldquo;Message&rdquo;</strong> means Content delivered to a User through the Site, from Cubby Shop or from
  another User, or Content sent by a User to Cubby Shop or another User. </p>

<p>&ldquo;<strong>Parent</strong>&rdquo; means parent or legal guardian.</p>

<p><strong>&ldquo;Party&rdquo;</strong> means an adult parent or legal guardian of a child engaged in a Transaction. The
  parent or legal guardian is the actual legal party to the Transaction; minors cannot be parties to contracts. </p>

<p><strong>&ldquo;Profile&rdquo;</strong> means a page and/or personal listing customized by a User and approved by that
  User’s parent or legal guardian, which page may include the User’s User Name, Listings, requests, wish lists, and
  interests. Please see Child’s Dashboard.</p>

<p>&ldquo;<strong>Purchase</strong>&rdquo; means a monetary transaction under which one User purchases an item from
  another User through the Site and in accordance with all applicable Cubby Shop terms and agreements.</p>

<p><strong>&ldquo;Service&rdquo;</strong> means an online marketplace. </p>

<p><strong>&ldquo;Site&rdquo;</strong> means &ldquo;KidsTrade.com&rdquo; or its affiliated websites, mobile apps, web
  apps and other means established by Cubby Shop for accessing the Service. </p>

<p><strong>&ldquo;Trade&rdquo; </strong>means a transaction between two (or more) Users where items are exchanged
  through the Site and in accordance with all applicable Cubby Shop terms and agreements. </p>

<p>&ldquo;<strong>Transaction</strong>&rdquo; means a Purchase or Trade.</p>

<p><strong>&ldquo;User&rdquo;</strong> means an individual who has access to the Site. </p>

<p><strong>&ldquo;User Name&rdquo;</strong> means an alias created for use on the Site.</p>
<p>
  &nbsp;
</p>