<div class="landing-content">

	<div class="container landing-container intro">
			<div class="intro-wrapper">
				<img class="intro-bg" src="/assets/landing/Cart-BG-Mobile.jpg"></img>
			</div>
			<div class="kt-navbar">
				<a class="kt-navbar-brand" href="#"><%= image_tag "logos/nav-bar-logo-landing.png" %></a>
			</div>
			<div class="intro-content">
				<h1>Say no to the toy<br>aisle without being<br>Mean Mom</h1>
			</div>
	</div>

	<div class="container landing-container about mobile">
		<p>We made an app for kids to<br>trade with their friends. Now<br>they can get stuff on their own.</p>
		<img src="/assets/landing/Post-It-Mobile.jpg"></img>
	</div>
	<div class="container landing-container about desktop">
		<img src="/assets/landing/Post-It-Mobile.jpg"></img>
		<p>We made an app for kids to trade<br>with their friends. Now they can<br>get stuff on their own.</p>
	</div>

	<div class="container landing-container how mobile">
		<h1>How it works.</h1>
		<p>Trading goes beyond cards and<br>
		stickers. Kids see all the stuff<br>
		their friends have to offer instead of<br>
		just a few items in their backpack.</p>
		<p>It’s safe and easy.</p>
	</div>
	<div class="container landing-container how desktop">
		<h1>How it works.</h1>
		<p>Trading goes beyond cards and stickers.<br>
		Kids see all the stufftheir friends have to offer instead of<br>
		just a few items in their backpack.</p>
		<p>It’s safe and easy.</p>
	</div>

	<div class="container landing-container kids-post mobile">
		<h1>Kids post.</h1>
		<img src="/assets/landing/Kids-Phone-Hand-BG.jpg"></img>
		<p>Snap a picture and<br>give a quick description.<br>That’s it.</p>
	</div>
	<div class="container landing-container kids-post desktop">
		<div class="row">
			<div class="col-md-6">
				<h1>Kids post.</h1>
				<p>Snap a picture and<br>give a quick description.<br>That’s it.</p>
			</div>
			<div class="col-md-6">
				<img src="/assets/landing/Kid-Phone-Mobile-LP.png"></img>
			</div>
		</div>
	</div>

	<div class="container landing-container approval mobile">
		<img src="/assets/landing/bizcard-bg-mobile.jpg"></img>
		<h1>Parents approve<br>with a click.</h1>
		<p>You’re kept in the loop<br>every step of the way.</p>
	</div>
	<div class="container landing-container approval desktop">
		<div class="row">
			<div class="col-md-6">
				<img src="/assets/landing/Mom-Phone-Mobile.png"></img>
			</div>
			<div class="col-md-6">
				<h1>Parents approve<br>with a click.</h1>
				<p>You’re kept in the loop<br>every step of the way.</p>
			</div>
		</div>
	</div>

	<div class="container landing-container safe">
		<div class="mobile">
			<h1>Yes, it’s safe...<br>They’re trading<br>with kids they<br>already know.</h1>
		</div>
		<div class="desktop">
			<h1>Yes, it’s safe...</h1>
			<p>They’re tradingwith kids<br>they already know.</p>
		</div>
		<img src="/assets/landing/Double-Phone-Desktop.jpg"></img>
	</div>

	<div class="container landing-container notifications mobile">
		<img class="bg" src="/assets/landing/Girls-BG-Mobile.jpg"></img>
		<img class="fg" src="/assets/landing/Messages-Phone-Mobile.png"></img>
		<h1>KidsTrade<br>links them with<br>their friends and<br>classmates.</h1>
		<p>Parents can tighten<br>(or loosen) boundaries<br>at any time.</p>
	</div>
	<div class="container landing-container notifications desktop">
		<h1>KidsTrade links them with their<br>friends and classmates.</h1>
		<p>Parents can tighten (or loosen) boundaries at any time.</p>
	</div>

	<div class="container landing-container exchange mobile">
		<h1>Best of all,<br>kids exchange<br>things themselves.</h1>
		<img src="/assets/landing/Kids-Backpack-BG-Mobile.jpg"></img>
		<p>Whether they swap at a sleepover,<br>soccer practice or the bus stop,<br>delivery by backpack is always free.</p>
	</div>
	<div class="container landing-container exchange desktop">
		<h1>Best of all, kids exchange<br>things themselves.</h1>
		<img src="/assets/landing/Kids-Backpack-BG-Desktop.jpg"></img>
		<p>Whether they swap at a sleepover,<br>soccer practice or the bus stop,<br>delivery by backpack is always free.</p>
	</div>

	<div class="container landing-container three-items">
		<div class="desktop">
			<h1>Kids learn</h1>
		</div>
		<div class="row">
			<div class="col-md-4 column">
				<img class="circle-icon" src="assets/landing/Green-Icon-Mobile.png"></img>
				<p class="text-right">A greener way to<br>get new things</p>
			</div>
			<div class="col-md-4 column">
				<img class="circle-icon img-right" src="assets/landing/Heart-Icon-Mobile.png"></img>
				<p class="text-left">To take care of<br>their stuff</p>
			</div>
			<div class="col-md-4 column">
				<img class="circle-icon" src="assets/landing/Money-Icon-Mobile.png"></img>
				<p class="text-right">That toys<br>aren't cheap</p>
			</div>
		</div>
	</div>

	<div class="container landing-container three-items desktop">
		<div class="desktop">
			<h1>Parents love</h1>
		</div>
		<div class="row">
			<div class="col-md-4 column">
				<img class="circle-icon" src="assets/landing/Smiley-Icon-Mobile.png"></img>
				<p>Skipping the<br>toy aisle</p>
			</div>
			<div class="col-md-4 column">
				<img class="circle-icon img-right" src="assets/landing/Free-Icon-Mobile.png"></img>
				<p>Giving children<br>independence</p>
			</div>
			<div class="col-md-4 column">
				<img class="circle-icon" src="assets/landing/Check-Icon-Mobile.png"></img>
				<p>Keeping clutter<br>in check</p>
			</div>
		</div>
	</div>

	<div class="container landing-container earn">
		<h1>They can even<br>earn a buck.</h1>
		<img class="mobile" src="/assets/landing/Boy-PiggyBank-BG-Mobile.jpg"></img>
		<img class="desktop" src="/assets/landing/Boy-PiggyBank-BG-Desktop.jpg"></img>
		<p>Or score a bargain!<br>Buying and selling are available<br>with your permission.</p>

	</div>

	<div class="container landing-container three-items mobile">
		<div class="desktop">
			<h1>Parents love</h1>
		</div>
		<div class="row">
			<div class="col-md-4 column">
				<img class="circle-icon" src="assets/landing/Smiley-Icon-Mobile.png"></img>
				<p class="text-right">Skipping the<br>toy aisle</p>
			</div>
			<div class="col-md-4 column">
				<img class="circle-icon img-right" src="assets/landing/Free-Icon-Mobile.png"></img>
				<p class="text-left">Giving children<br>independence</p>
			</div>
			<div class="col-md-4 column">
				<img class="circle-icon" src="assets/landing/Check-Icon-Mobile.png"></img>
				<p class="text-right">Keeping clutter<br>in check</p>
			</div>
		</div>
	</div>

	<div class="container landing-container bottom-padding"></div>

	<% content_for :footer_content do %>
		<div class="contact-box" data-wow-offset="10">
			
			<!-- CONTACT BUTTON TO EXPAND OR COLLAPSE FORM -->
			
			<a class="btn contact-button expand-form expanded"><i class="icon_mail_alt"></i></a>
			
			<!-- Begin MailChimp Signup Form -->
			<div class="row expanded-contact-form">

				<div class="col-md-8 col-md-offset-2">

					<link href="//cdn-images.mailchimp.com/embedcode/classic-081711.css" rel="stylesheet" type="text/css">
					<style type="text/css">
						#mc_embed_signup{background:transparent; clear:left; font:14px Helvetica,Arial,sans-serif; }
				/* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
				We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
			</style>
			<div id="mc_embed_signup">
				<form action="//kidstrade.us11.list-manage.com/subscribe/post?u=93d75cb59828736858330867b&amp;id=a094bf7fe7" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
					<div id="mc_embed_signup_scroll">
						<div class="mc-field-group">
							<label for="mce-EMAIL">Email Address
							</label>
							<input type="email" value="" name="EMAIL" class="required email form-control input-box" id="mce-EMAIL">
						</div>
						<div class="mc-field-group">
							<label for="mce-FNAME">Name </label>
							<input type="text" value="" name="FNAME" class="form-control input-box" id="mce-FNAME">
						</div>
						<div id="mce-responses" class="clear">
							<div class="response" id="mce-error-response" style="display:none"></div>
							<div class="response" id="mce-success-response" style="display:none"></div>
						</div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
						<div style="position: absolute; left: -5000px;"><input type="text" name="b_93d75cb59828736858330867b_a094bf7fe7" tabindex="-1" value=""></div>
						<div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn btn-primary standard-button2 ladda-button" style="display:block;margin:auto;"></div>
					</div>
				</form>
			</div>
			<script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
			</div>
			</div>
			
		</div>
	<% end %>
</div>