<% content_for(:footer_extra) do %>
  <%= render partial: 'layouts/google_analysis' %>
<% end # footer_extra %>

<hr class="dark-hr" />
<div class="legal-content">
  <div class="container">
    <div class="row col-md-10 col-md-offset-1 col-sm-12 col-sm-offset-0 col-xs-12 col-xs-offset-0">

      <%= render partial: 'privacy_copy' %>
    </div>
  </div>

  <div class="section-gap"></div>
  <hr class="dark-hr" />

  <div class="container">
    <div class="row col-md-10 col-md-offset-1 col-sm-12 col-sm-offset-0 col-xs-12 col-xs-offset-0">

      <%= render partial: 'terms_copy', locals:{ hide_company_header:true } %>

    </div>
  </div>
</div>

<hr class="dark-hr" />