.row(style="vertical-align:middle; background-color:rgba(245,245,241,1);")
  .text-center.col-md-6.col-md-offset-3.col-sm-8.col-sm-2.col-xs-10.col-xs-offset-1
    %table(style="width:100%; margin: 30% 0;")
      %tbody
        %tr
          %td(style="width:40%; text-align:right; padding: 0 3%;")
            %img(src="/assets/messages/not-found-desktop.png" alt="")
          %td(style="vertical-align:bottom; padding:3%;")
            %div.light-blue-color.text-big-title(style="font-weight:400; line-height:1.4em;")
              You need to log into the
              %br
              KidsTrade app to see what's
              %br
              going on.  Download it.  It's Free!
        %tr
          %td(colspan="2" style="text-align:center; padding: 40px 0;")
            %a(href="http://itunes.apple.com/app/id1042828368" style="margin: 10px 20px;")
              %img(src="/assets/logos/apple-logo-130.png" alt="Download on the AppStore")/
            %a(href="https://play.google.com/store/apps/details?id=com.cubbyshop.cubbyshop" style="margin: 10px 10px;")
              %img(src="/assets/logos/google-play-130.png" alt="Google Play App")/
