

<section class="inner-pages">

  <div class="container" style="padding: 6% 0;">
    <div class="row">
      <div class="col-md-11 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1 text-center description-titles">

        <h3 class="description-text moderate-dark-title-color slim-weight" >
          We will contact you once you have been verified.
          <br/>
          Thank you!
        </h3>
      </div>
    </div>

  </div>

  <div style="width:100%; height:40%;">
    &nbsp;
  </div>
</section>
