<section class="inner-pages">

  <div class="container" style="padding: 6% 0 0 0; height: 60%;">
    <div class="row">
      <div class="col-md-11 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1 text-center description-titles">

        <h1>Your child thanks you!</h1>

        <% if back_page_url.present? -%>
          <div class="section-gap">&nbsp;</div>
          <h4><a href="<%= notifications_path %>">Back to Messages</a></h4>

          <div class="section-gap" style="height:200px;">&nbsp;</div>
        <% end -%>

        <h3 class="description-text moderate-dark-title-color slim-weight" >
          Interested in what they&apos;re up to?  Login to your
          KidsTrade app at anytime.
        </h3>
      </div>
    </div>

  </div>


</section>
