.container
  .row
    .section-gap
    %p.pull-left.normal-weight.text-medium-title(style="margin:0 2% 0 0;")
      %a(href='/admin') ADMIN
      %span.gray-title-color - New Question &amp; Answer
    .clearfix

    = render 'form'

