<footer id="footer"><!--footer-->
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12 mobile">
        <a href="#"><img class="mobile-view" src="/assets/landing-25/Tada-Goat-Mobile.png" alt="" /></a>
        <ul class="social-icon">
          <li><a href="http://www.facebook.com/KidsTrade"><img src="/assets/landing-25/facebook.png" alt="" /></a></li>
          <li><a href="http://twitter.com/kidstrade"><img src="/assets/landing-25/twitter.png" alt="" /></a></li>
        </ul>
      </div>
      <div class="col-md-4 col-sm-4 col-xs-6">
        <h6 class="footer-heading">Our App</h6>
        <ul class="our-app">

          <li><a href="/home/students">For Students</a></li>
          <li><a href="/home/parents">For Parents</a></li>
          <li><a href="/safety">Safety</a></li>
          <li><a href="/fundraising">Fund Raising</a></li>
        </ul>
      </div>
      <div class="col-md-4 col-sm-4 col-xs-6 destop">
        <a href="#"><img src="/assets/landing-25/Tada-Goat-Mobile.png" alt="" /></a>
        <ul class="social-icon">
          <li><a href="http://www.facebook.com/KidsTrade"><img src="/assets/landing-25/facebook.png" alt="" /></a></li>
          <li><a href="http://twitter.com/kidstrade"><img src="/assets/landing-25/twitter.png" alt="" /></a></li>
        </ul>
      </div>
      <div class="col-md-4 col-sm-4 col-xs-6">
        <h6 class="footer-heading2">Our Company</h6>
        <ul class="our-company">
          <li><a href="/about_us">About Us</a></li>
          <li><a href="/faq">FAQs</a></li>
          <li><a href="mailto:hello@kidstrade.com">Contact Us</a></li>
          <li><a href="/privacy_and_terms">Privacy</a></li>
        </ul>
      </div>
    </div><!--row-->
  </div><!--container-->
</footer><!--footer-->
<div class="footer-bottom">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-md-offset-0 col-sm-12 col-sm-offset-0 col-xs-12 col-xs-offset-0">
        <p class="copyright">Copyright 2015 CubbyShop LLC. KidsTrade and the KidsTrade logo are trademarks of CubbyShop, LLC</p>
      </div>
    </div>
  </div>
</div>