%meta(charset="UTF-8")
%meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")
%meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0")
%meta(name="description" content="Kids trade once loved belongings for the next favorite thing. They do the legwork… posting, trading and delivery.  Parents approve with a click.")
%meta(name="keywords" content="Children, kids, trade, barter, swap, exchange, app, school, classmates, friends, toys, lego, clothes, video games")
= csrf_meta_tags
%link(rel="icon" type="image/ico" href="/assets/icons/favicon.png")
